img.card__img {
  width: auto;
  height: 300px;
  margin: 0 auto;
}

.card {
  margin-top: 50px;
  width: 400px;
  border-radius: 10px;
  transition: box-shadow .3s;
  margin: 0 auto;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,675);
}

.card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.98);
  cursor: pointer;
}

.card__button {
  margin: 30px 0;
}

.card__price {
  text-align: center;
}

.card-title {
  font-weight: bold;
}

@media (max-width: 420px) {

  .card {
    width: 280px;
  }

  img.card__img{
    width: 250px;
  }

}
